.cart_product {
    display: grid;
    grid-template-areas: "code is_new"
    "image image"
    "name name"
    "price price";
    grid-template-columns: 50% 50%;
    grid-template-rows: 50px 100px 50px 50px;
    padding: 20px;
    background: thistle;
}
.cart_products {
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
    grid-gap: 10px;
}

.cart_product > .image > * {
    margin: auto;
    width: 100%;
}

.code {
    grid-area: code;
}

.is_new {
    grid-area: is_new;
    text-align: right;
}

.image {
    grid-area: image;
}

.name {
    grid-area: name;
    text-align: center;
}

.price {
    grid-area: price;
    text-align: center;
}